<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Bem-vindo ao Gerenciamento de Pedidos</h1>
            <p class="subtitle">FastAPI + Jinja2 + MongoDB + Bulma + HTMX</p>
        </div>
    </section>
</body>
</html>